@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&family=Montserrat:wght@300;400&family=Noto+Sans&family=Roboto+Mono:ital,wght@1,300&display=swap');

.container{
    height: calc(100vh - 100px);
    background-image:
    // linear-gradient(to bottom, rgba(146, 146, 147, 0.52), rgba(174, 171, 173, 0.73)),
    url('../public//background/blackbg.jpg');
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto Mono', monospace;
    font-weight: 600;
    padding: 100px;

    

    @media screen and (max-width: 768px) {
       padding: 50px 10px;
        
      }

    h1{
        margin: 0;
    }

    p{
        width: 50%;
        @media screen and (max-width: 768px) {
            width: 100%;
          }
    }

    .github{
        cursor: pointer;
    }

    

    @media screen and (max-width: 768px) {
      background-position-x: center;;
    }
}

