.container{
    width: 450px;
    height: 200px;
    // border: 1px solid black;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 2px, rgba(0, 0, 0, 0.12) 0px -10px 10px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 8px 5px, rgba(0, 0, 0, 0.09) 0px -2px 3px;
    border-radius: 4px;
    background-color: #9FD0C6;

    Image{
        @media screen and (max-width:768px) {
            height: 200px;
        }
    }

        @media screen and (max-width: 768px) {
            width: 300px;
            // flex-direction: column  ;
            height:223px;
        }

    li{
        list-style: none;
        display: flex;
        flex-direction: column;
        padding: 5px 10px;
    }
}

.image_container{
    width: 30%;
}

.content_wrapper{
    // display: flex;
    padding: 15px;
    @media screen and (max-width:768px) {
        padding: 8px ;
    }
    
}

.card{
    width: 40%;
   
}

.btn{
    display: grid;
    place-items: center;
    padding: 10px 0px;

    button{
        cursor: pointer;
        padding: 8px 10px;
        width: 80%;
        border: none;
        border-radius: 4px;
        background-color: #545479;
    }
    
    button:hover{
        
        background-color: #363651;
    }
}