.input_field{
    display: grid;
    place-items: center;
    padding: 30px;

    input{
        border: none;
        padding: 5px 10px;
        background-color: transparent;
        outline: none;
        border-bottom: 2px solid darkblue;
        width: 30%;
        color: darkblue;
        font-size: medium;
    }
}


  .container {
  padding: 30px;
  
  }

  .card_container{
    display: grid;
    grid-template-columns: repeat(3 , 2fr);
    gap: 20px;
    padding: 30px;

    @media screen and (max-width:768px) {
         grid-template-columns: repeat(1 ,1fr);   
    }
  }